<header>
    <div class="logo">
        <img src="dist/img/logo.png" alt="">
    </div>
    <div class="search">
        <input type="text" placeholder="Recherche...">
        <img src="dist/img/search.png">
    </div>
    <div class="menu">
        <img src="dist/img/grid.png">
        <img src="dist/img/liste.png">
    </div>
</header>
<aside>
    <div class="profile">
        <img class="img-circle" src="{{photo_profile}}">
        <div class="desc">
            <h3>{{username_profile}}</h3>
            <span>128 Followers - 98 Following</span>
            <br><span>78 Posts</span>
        </div>
    </div>
    <div class="populaires">
        <h3>Populaires</h3>
        <span class="hashtag">#playa</span>
        <span class="hashtag">#lost</span>
        <span class="hashtag">#oscar</span>
        <span class="hashtag">#IamBruxelles</span>
        <span class="hashtag">#mountain</span>
        <span class="hashtag">#Paris</span>
        <span class="hashtag">#sky</span>
        <button type="button" class="btn">Voir plus</button>
    </div>
    <div class="populaires">
        <h3>Récents</h3>
        <span class="hashtag">#playa</span>
        <span class="hashtag">#lost</span>
        <span class="hashtag">#oscar</span>
        <span class="hashtag">#IamBruxelles</span>
        <span class="hashtag">#mountain</span>
        <span class="hashtag">#Paris</span>
        <span class="hashtag">#sky</span>
        <button type="button" class="btn">Voir plus</button>
    </div>
    <div class="poster">
        <button type="button" class="btn">Poster</button>
    </div>
</aside>
<div id="content">
    <section *ngFor="#media of medias">
        <div (click)="myModal.open()" (click)="getTag(media.images.low_resolution.url)" class="img" style="background-image: url('{{media.images.low_resolution.url}}');"></div>
        <span class="like">{{media.likes.count}} <img src="dist/img/like.png"></span>
        <span class="like">{{media.comments.count}} <img src="dist/img/comments.png"></span>
        <modal #myModal>
            <modal-header [show-close]="true">
                <h4 class="modal-title"></h4>
            </modal-header>
            <modal-body>
                <div class="img" style="background-image: url('{{media.images.low_resolution.url}}');"></div>
                <div class="hashtags">
                    <span class="hashtag" *ngFor="#tags of listtags; #i = index"><span *ngIf="i < 15">#{{tags.tag}}</span></span>
                </div>
                <input type="text" placeholder="#hashtag">
                <button type="button" class="btn" title="Envoyer">
                    <img src="dist/img/send.png">
                </button>
                <div class="clear"></div>
            </modal-body>
        </modal>
    </section>
</div>
